<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<!-- CDN de Axios -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- CDN de VUE -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		{{titulo}}
		<!-- Tabla / Listado de productos -->
		<div>
			<button>Productos</button>
			<button>+ Producto</button>
		</div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="producto in productos">
					<td>{{producto._id}}</td>
					<td>{{producto.nombre}}</td>
					<td>{{producto.precio}}</td>
					<td>
						<button v-on:click="selectProducto(producto)">Seleccionar</button>
						<button v-on:click="eliminarProducto(producto._id)">Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<form>
			<input type="text" name="nombre" placeholder="Nombre" v-model="producto.nombre">
			<br>
			<input type="number" name="precio" placeholder="Precio" v-model="producto.precio">
			<br>
			<button type="button" v-on:click="guardaProducto()">Guardar</button>
		</form>
	</div>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>